<div class="container">
    <div class="comment-list">
        {% if comments_replies %}
            <h3>评论</h3>
            {% for comment in comments_replies %}
                <div class="comment row">
                    <div class="comment-header text-center col-md-2 col-sm-3">
                        <div class="comment-img">
                            {% if comment.avatar %}
                                <img id="current_avatar"
                                     src="{{ url_for('tool.load_edit_avatar', uid=comment.uid) }}"
                                     class="img-circle img-responsive"
                                     alt="User Image" style="height: 100px">
                            {% else %}
                                <img id="current_avatar"
                                     src="{{ url_for('static', filename='imgs/personal-image.jpg') }}" alt=""
                                     class="img-circle img-responsive center" width="250px" height="250px">
                            {% endif %}
                        </div>
                        <div class="comment-user"><a href=""><h4>{{ comment.name }}</h4></a></div>
                    </div>
                    <div class="comment-main col-md-10 col-sm-9 clearfix">
                        <div class="comment-body">
                            <div class="comment-meta"><span><i
                                    class="fa fa-clock-o"></i> {{ comment.create_time }}</span>
                            </div>
                            <div class="comment-content" data-id="{{ comment.id }}">{{ comment.content }}</div>
                        </div>
                        <div class="comment-footer pull-right clearfix">
                            <button class="btn btn-sm btn-default">回复</button>
                        </div>
                        {% if comment.replies %}
                            <div class="reply-list">
                                {% include 'home/reply_list.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="comment-box">
        <div class="row">
            {% if current_user.is_authenticated %}
                <h3>发表评论
                    <small class="pull-right">请各位姥爷文明评论</small>
                </h3>
                <div class="col-sm-4 col-md-3 text-center">
                    {% if current_user.avatar %}
                        <img id="current_avatar" src="{{ url_for('tool.load_edit_avatar', uid=current_user.id) }}"
                             class="img-circle img-responsive"
                             alt="User Image" style="height: 200px">
                        <div>
                            <p class="h3">{{ current_user.name }}</p>
                        </div>
                    {% else %}
                        <img id="current_avatar"
                             src="{{ url_for('static', filename='imgs/personal-image.jpg') }}" alt=""
                             class="img-circle img-responsive center" width="250px" height="250px">
                    {% endif %}
                </div>
                <form id="form_comment" class="col-sm-8 col-md-9" action="" method="post">
                    <textarea class="form-control" name="comment" id="comment" placeholder="发表评论"></textarea>
                    <div class="clearfix">
                        <input type="button" class="btn btn-default pull-right" value="回复">
                        <div class="pull-left">
                            <small name="change">0</small>
                            /
                            <small>140</small>
                        </div>
                    </div>
                </form>
            {% else %}
                <h3 class="text-center"><p style="padding-top: 10px">请<a>登录</a>后再进行评论或回复</p></h3>
            {% endif %}

        </div>
    </div>
</div>

{% block javascript %}
    <script>
        $(document).off("click", "#form_comment input[type='button']").on("click", "#form_comment input[type='button']", function () {
            alert("!!!");
            var content = $("#comment").val();
            var data = {
                'content': content
            };
            $.ajax({
                type: "POST",
                url: "{{ url_for("home.add_post_comment") }}" + "?pid=" + $(".post-title").data("id"),
                dataType: "json",
                data: data,
                success: function (res) {
                    if (res.code == 1)
                        $(".comment-box").html(res.data);
                },
                error: function (res) {
                    console.log(res)
                }
            });
        });


        $('#comment').on('keyup', function () {
            var length = $(this).val().length;
            console.log($(this).next());
            if (length >= 140) {
                $(this).val($(this).val().substr(0, 140));
            }
            $(this).next().children('div').find('small[name="change"]').html(length);
        });

    </script>
{% endblock %}