{% extends 'home/base.html' %}
{% block main %}
<div class="post-header text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ post.title }}</h1>
                <ul class="list-inline">
                    <li><i class="fa fa-clock-o"></i> {{ post.create_time }}</li>
                    <li><i class="fa fa-user"></i> {{ post.name }}</li>
                    <li><i class="fa fa-tag"></i> <a
                            href="{{ url_for('home.category', category_sub_name=post.category_sub_name) }}">{{ post.category_name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="post-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                {% autoescape False %}
                {{ post.content }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>


<div class="comment-box">
    {% include 'home/comment_list.html' %}
</div>


{% endblock %}
{% block javascript %}
    <script>
        $('.post-content').click(function (e) {
            e.target.tagName === 'IMG' && BigPicture({
                el: e.target,
                imgSrc: e.target.src.replace('_thumb', '')
            });
        });
    </script>
    <script>
        $(document).off("click", "#form_comment button").on("click", "#form_comment button", function () {
            var content = $("#comment").val();
            var data = {
                'content': content
            };
            $.ajax({
                type: "POST",
                url: "{{ url_for("home.add_post_comment", pid=post.id) }}",
                dataType: "json",
                data: data,
                success: function (res) {
                    if (res.code == 1)
                        $(".comment-box").html(res.data);
                },
                error: function (res) {
                    console.log(res)
                }
            });
        });

        $("#comment").on("change", function () {
            console.log($("#comment").val().length);
        })
    </script>
{% endblock %}