<div class="reply-list reply-box">
    <div class="reply-item clearfix">
        <form id="form_reply" action="" method="post">
            <textarea class="form-control" name="reply" id="reply" placeholder="回复 Ciel:"></textarea>
            <div class="clearfix">
                <input type="button" class="btn btn-default btn-sm pull-right"
                       value="回复">
                <div class="pull-left">
                    <small name="change">0</small>
                    /
                    <small>60</small>
                </div>
            </div>
        </form>
    </div>
</div>