<div class="about-box">
    {#    关于我的信息#}
    <h4>关于我</h4>
    <ul>
        <li>QQ:1102839480</li>
{#        <li>微信：ccnc320</li>#}
    </ul>
</div>
<div class="search-box">
    <h4>搜索</h4>
    <form action="{{ url_for('home.search') }}" method="get">
        <input type="search" class="form-control" name="query" id="query" placeholder="搜索文章标题">
    </form>
</div>
<div class="latest-post">
    <h4>最新文章</h4>
    <ul>
        {% for latest_post in latest_posts %}
            <li>
                <a href="{{ url_for('home.post', post_title=latest_post.title) }}">{{ latest_post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="category-list">
    <h4>文章分类</h4>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ url_for('home.category', category_sub_name=category.sub_name) }}">{{ category.name }}
                    ( {{ category.count }} )</a></li>
        {% endfor %}
    </ul>
</div>
