@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

body{
    padding-top: 70px;
}
a,a:hover,a:focus{
    color: #000000;
}
ul,li{
    list-style-type: none;
    padding: 0;
}
.navbar-fixed-top{
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
    -webkit-box-shadow: 0px 10px 20px #cccccc;
    -moz-box-shadow: 0px 10px 20px #cccccc;
    box-shadow: 0px 10px 20px #cccccc;
}
.nav>li>a:hover,.nav>li>a:focus{
    text-decoration: underline;
    background: none;
}
.navbar-brand{
    color: #333333;
    font-size: 24px;
    margin-left: 5px !important;
}
.navbar-brand:hover,.navbar-brand:focus{
    color: #333333;
}
.navbar-toggle .icon-bar{
    background: #333333;
}
.navbar-right a{
    color: #000000;
}

.post{
    border-bottom: 1px solid #cccccc;
    padding: 40px 5px 40px 5px;
}
.post-title a{
    color: #253858;
}
.post-option{
    color: #9fa19f;
    margin: 20px 0;
}
.post-option li{
    margin-right: 20px;
}
.post-option li a{
    color: #000000;
}
.post-img img{
    background: #dddddd;
    min-width: 100%;
    height: auto;
}
.post-abstract{
    font-size: 18px;
    padding: 0px 10px 10px;
}
.post-abstract img{
    display:block;
    max-width:100%;
    height:auto;
    margin-right:auto;
    margin-left:auto;
}

.search-box{
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}
.latest-post,.category-list{
    margin: 40px 0;
}
.latest-post>h4,.category-list>h4{
    color: #999999;
}
.latest-post>ul,.category-list>ul{
    padding: 5px 0px 5px 20px;
}
.latest-post li,.category-list li{
    margin-top: 15px;
    list-style: circle;
}

.post-header{
    min-height: 200px;
    background: #fafafa;
    border-bottom: 1px solid #dddddd;
    padding: 40px 0;
}
.post-header h1{
    color: #253858;
    margin-bottom: 20px;
}
.post-header ul{
    color: #9fa19f;
}
.post-content{
    margin: 30px 0;
}
.post-content img{
    display:block;
    max-width:100%;
    height:auto;
    margin-right:auto;
    margin-left:auto;
}
.comment-box{
    margin-bottom: 40px;
}
.comment-box h3{
    padding: 20px;
    border-top: 2px solid #eeeeee;
}
.comment-box textarea{
    min-width: 50px;
    min-height: 120px;
    resize: none;
    margin-bottom: 20px;
}
.comment-box .reply-item textarea{
    min-height: 60px;
    resize: none;
    margin-bottom: 10px;
}
.comment{
    padding: 30px 0px 10px;
    margin: 10px 30px;
    border-top: 1px solid #eeeeee;
}
.comment-main{
    display: inline-block;
    position: relative;
    /*min-height: 200px;*/
    box-shadow: #CCCCCC 5px 5px 5px 5px;
}
.comment-meta{
    margin-top: -10px;
    color: #9fa19f;
    font-size: 14px;
}
.comment-content{
    margin: 20px 0;
}
.comment-footer{
    margin-bottom: 10px;
}
.reply-list{
    margin: 40px 70px 15px 40px;
    border-top: 1px solid #eeeeee;
    box-shadow: #CCCCCC 5px 5px 5px 5px;
}
.reply-item{
    margin-top: 10px;
    padding: 0 15px 0;
}
.reply-item p{
    margin-left: 5px;
}
.reply-item b{
    margin: 0 7px;
}
.reply-item small{
    color: #737373;
}
.reply-item #form_reply{
    margin: 0 10px 10px;
}



.u_header{
    height: 50px;
    margin-bottom: 20px;
    margin-right: 105px;
    border-bottom: 2px #ebebeb solid;
}

.u_header h1{
    width: 167px;
    height: 50px;
    font-size: 30px;
    color: #555;
    border-bottom: 2px solid #000;
    text-align: center;
}
.u_nav{
    width: 167px;
}
.u_nav li{
    display: block;
    margin-bottom: 1px;
}
.u_nav .u_active{
    /*background-color: red;*/
}
.u_nav li a{
    position: relative;
    display: block;
    color: #333;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-bottom: 1px #eee solid;
    text-align: center;
}
.u_mainbody{
    margin-left: 20px;
}
.u_mainbody .u_title{
    line-height: 45px;
    height: 45px;
    background: #f5f5f5;
}
.u_mainbody .u_title p{
    font-size: 17px;
    margin-left: 30px;
    font-weight: 500;
}
.u_tab{
    margin-bottom: 10px;
}
.u_info_avatar{
    width: 220px;
    height: 266px;
    margin: 20px;
}
.u_info_avatar img{
    width: 220px;
    height: 220px;
}
.u_info_avatar button{
    margin: 20px auto 0;
    display: block;
}
.u_info_detail{
    font-size: 16px;
    margin-top: 30px;
}
.u_info_detail p{
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
}
.u_info_name{
    font-size: 18px;
}
.u_info_name button{
    font-size: 16px;
    margin-left: 30px;
    display: inline-block;
}
.u_bind_item{
    height: 100px;
    padding: 25px 10px;
}
.u_bind_item p{
    margin: -3px 0;
    height: 24px;
    line-height: 24px;
}
.u_bind_item .u_bind_icon{
    width: 35px;
    height: 35px;
    float: left;
    margin-left:20px;
    margin-right: 3px;
}
.u_bind_item .bind_email_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat -35px -65px;
}
.u_bind_item .bind_phone_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat -35px  5px;
}
.u_bind_item .bind_qq_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat -35px -275px;
}
.u_bind_item .bind_wechat_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat -35px -355px;
}
.u_bind_item .bind_password_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat -35px -30px;
}
.u_bind_item .bind_delete_icon{
    margin-top: 2px;
    background: url("../../imgs/account_cancel_entry.png") no-repeat left center;
}
.u_bind_item .binded_email_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat 0 -65px;
}
.u_bind_item .binded_phone_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat 0  5px;
}
.u_bind_item .binded_qq_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat 0 -275px;
}
.u_bind_item .binded_wechat_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat 0 -355px;
}
.u_bind_item .binded_password_icon{
    margin-top: 2px;
    background: url("../../imgs/user_center_icons.png") no-repeat 0 -30px;
}
.u_bind_title{
    font-weight: 600;
}
.u_bind_subtitle{
    color: #737373;
}
.u_bind_button{
    height: 35px;
    margin-top: 6px;
    float: right;
}
.u_binded_button{
    height: 35px;
    margin-top: 6px;
    float: right;
    border: 1px deepskyblue solid;
}
.u_password, .u_email{
    margin-top: 20px;
    padding: 10px 50px;
}
.u_password button{
    float: left;
}
.u_posts, .u_comments, u_replies{
    font-size: 14px;
    margin-top: 20px;
}

footer{
    background: #f2f2f2;
    min-height: 160px;
    text-align: center;
    padding: 25px 0 ;
}
