<section class="sidebar" style="height: auto;">
    <div class="user-panel">
        <div class="pull-left image">
            {% if current_user.avatar %}
                <img src="{{ url_for('tool.load_avatar') }}" class="img-circle"
                     alt="User Image">
            {% else %}
                <img src="{{ url_for('static', filename="imgs/default-logo.gif") }}"
                     class="img-circle"
                     alt="User Image">
            {% endif %}
        </div>
        <div class="pull-left info">
            <p>{{ current_user.name }}</p>
            <a href="#">
                <i class="fa fa-circle text-success"> Online</i>
            </a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">基本选项</li>
        <li {% if navigation.tag=='dashboard' %}
            class="active"
        {% endif %}>
            <a href="{{ url_for('admin.index') }}">
                <i class="fa fa-dashboard"></i>
                <span>仪表盘</span>
            </a>
        </li>
        <li class="treeview {% if navigation.tag in ['post', 'add_post', 'alter_post', 'draft_post', 'dustbin_post'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-file-text"></i>
                <span>文章</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'add_post' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.add_post') }}">写文章</a></li>
                <li {% if navigation.tag == 'post' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.post') }}">已发布</a></li>
                <li {% if navigation.tag == 'draft_post' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.draft_post') }}">草稿箱</a></li>
                <li {% if navigation.tag == 'dustbin_post' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.dustbin_post') }}">垃圾箱</a></li>
            </ul>
        </li>
        <li class="treeview {% if navigation.tag in ['category', 'add_category', 'alter_category', 'dustbin_category'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-list"></i>
                <span>分类</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'category' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.category') }}">类别列表</a></li>
                <li {% if navigation.tag == 'dustbin_category' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.dustbin_category') }}">垃圾箱</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-picture-o"></i>
                <span>相册</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">增加相册</a></li>
                <li><a href="#">修改相册</a></li>
                <li><a href="#">上传图片</a></li>
                <li><a href="#"></a></li>
            </ul>
        </li>
        <li class="treeview {% if navigation.tag in ['comment' , 'dustbin_comment', 'post_reply', 'dustbin_post_reply'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-comment"></i>
                <span>文章评论</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'comment' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.comment') }}">文章评论</a></li>
                <li {% if navigation.tag == 'dustbin_comment' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.dustbin_comment') }}">文章评论垃圾箱</a></li>
                <li {% if navigation.tag == 'post_reply' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.post_reply') }}">评论回复</a></li>
                <li {% if navigation.tag == 'dustbin_post_reply' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.dustbin_post_reply') }}">评论回复垃圾箱</a></li>

            </ul>
        </li>
        <li class="treeview {% if navigation.tag in ['moment' , 'add_moment', 'alter_moment', 'dustbin_moment'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-comment"></i>
                <span>动态</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'moment' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.moment') }}">动态列表</a></li>
                <li {% if navigation.tag == 'add_moment' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.add_moment') }}">发布动态</a></li>
                <li {% if navigation.tag == 'dustbin_moment' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.dustbin_moment') }}">动态垃圾箱</a></li>
            </ul>
        </li>
        <li class="header">
            设置
        </li>
        <li class="treeview {% if navigation.tag in ['user', 'add_user', 'alter_user'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-user"></i>
                <span>用户设置</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'user' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.user') }}">基本信息</a></li>
                <li {% if navigation.tag == 'add_user' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.add_user') }}">添加用户</a></li>

            </ul>
        </li>
        <li class="treeview {% if navigation.tag in ['group', 'add_group', 'alter_group'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-user"></i>
                <span>用户组设置</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'group' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.group') }}">基本信息</a></li>
                <li {% if navigation.tag == 'add_group' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.add_group') }}">添加用户组</a></li>
            </ul>
        </li>
        <li class="treeview {% if navigation.tag in ['auth', 'dustbin_auth'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-user"></i>
                <span>权限设置</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'auth' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.auth') }}">权限列表</a></li>
                <li {% if navigation.tag == 'dustbin_auth' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.dustbin_auth') }}">弃用权限列表</a></li>
            </ul>
        </li>
        <li class="treeview {% if navigation.tag in ['status', 'property'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-gavel"></i>
                <span>通用设置</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'status' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.status') }}">状态</a></li>
                <li {% if navigation.tag == 'property' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.property') }}">属性</a></li>
            </ul>
        </li>
        <li class="treeview {% if navigation.tag in ['home', 'admin', 'mail', 'system'] %}
                menu-open active
                {% endif %}">
            <a href="#">
                <i class="fa fa-gavel"></i>
                <span>系统设置</span>
                <span class="pull-right-container">
                            <span class="fa fa-angle-left pull-right"></span>
                        </span>
            </a>
            <ul class="treeview-menu">
                <li {% if navigation.tag == 'home' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.setting', type='web_home') }}">主页</a></li>
                <li {% if navigation.tag == 'admin' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.setting', type='web_admin') }}">后台</a></li>
                <li {% if navigation.tag == 'mail' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.setting', type='web_mail') }}">邮件</a></li>
                <li {% if navigation.tag == 'system' %}
                    class="active"
                {% endif %}><a href="{{ url_for('admin.setting', type='web_system') }}">系统</a></li>
            </ul>
        </li>
    </ul>
</section>